//registry.npmjs.org/:_authToken=69518f4c-bf5a-42ef-a285-80fdc09612c0
# require strict node and npm range: https://github.com/npm/cli/issues/692#issuecomment-729810029
engine-strict=true
# require unsafe perm for patch-package docker build: https://github.com/ds300/patch-package/issues/185
unsafe-perm=true
# required now we use a newer node version
legacy-peer-deps=true